global
	log 127.0.0.1 local0 notice
	maxconn 2000
	user haproxy
	group haproxy

defaults
	log global
	mode http
	option httplog
	option dontlognull
	retries 3
	option redispatch
	timeout connect 60000
	timeout client 60000
	timeout server 60000
	srvtimeout 60000

frontend http-in
	bind 0.0.0.0:80
{% for i in group_names %}
{%	if inventory_hostname in groups[i] and i[:5] == "proj_" %}
	acl is_{{i[5:]}} hdr_end(host) -i {{i[5:]}}
	use_backend {{i[5:]}} if is_{{i[5:]}}
{%	endif %}
{% endfor %}

{% for i in group_names %}
{%	if inventory_hostname in groups[i] and i[:5] == "proj_" %}
backend {{i[5:]}}
	balance roundrobin
	option forwardfor except 127.0.0.1
{%	for j in groups[i] %}
{%		if j in groups['http'] %}
	server {{j}} {{hostvars[j]['ansible_eth0']['ipv4']['address']}}:80 check
{%		endif %}
{%	endfor %}
{%	endif %}

{% endfor %}

listen stats 0.0.0.0:9000       #Listen on all IP's on port 9000
    mode http
    balance
    timeout client 5000
    timeout connect 4000
    timeout server 30000

    stats uri /haproxy_stats        

    stats realm HAProxy\ Statistics 
    stats auth admin:admin
    stats admin if TRUE
