command[check_szz_cpu]=/usr/lib/nagios/plugins/check_cpu.sh -w 80 -c 90
#command[check_szz_cpu]=/usr/lib/nagios/plugins/check_szz_cpu.sh -u $ARG1$ -U $ARG2$ -i $ARG3$ -I $ARG4$ -o $ARG5$ -O $ARG6$
command[check_szz_load]=/usr/lib/nagios/plugins/check_load -w {{ansible_processor_count * 0.8}},{{ansible_processor_count * 0.8}},{{ansible_processor_count * 0.8}} -c {{ansible_processor_count}},{{ansible_processor_count}},{{ansible_processor_count}} 
command[check_szz_disk]=/usr/lib/nagios/plugins/check_disk -w 10% -c 5% -w 100 -X devtmpfs -A -I /dev/shm -I /sys/fs/cgroup -I /run -I /run/shm -I /run/lock
command[check_szz_postgresql]=/usr/lib/nagios/plugins/check_pgsql -l nagios -H 127.0.0.1
command[check_szz_users]=/usr/lib/nagios/plugins/check_users -w {{warn_users}} -c {{crit_users}}
command[check_szz_named]=/usr/lib/nagios/plugins/check_procs -c 1:1  -C named
command[check_szz_httpd]=/usr/lib/nagios/plugins/check_procs -c 1: -C httpd
command[check_szz_nginx]=/usr/lib/nagios/plugins/check_procs -c 1: -C nginx
command[check_szz_uwsgi]=/usr/lib/nagios/plugins/check_procs -c 1: -C uwsgi
command[check_szz_redis]=/usr/lib/nagios/plugins/check_procs -c 1: -C redis-server
command[check_szz_ruby]=/usr/lib/nagios/plugins/check_procs -c 1: -C ruby
command[check_szz_mem]=/usr/lib/nagios/plugins/check_mem.pl -u -w 80 -c 90 -C

#adasd

command[restart_nginx]=/usr/bin/sudo /etc/init.d/nginx restart
command[restart_postgresql]=/usr/bin/sudo /etc/init.d/postgresql restart
